<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>About Page</title>
</head>
<body>
    <h1>Welcome to the about page!!!</h1>
</body>
</html>


<!-- $.ajax({
    type: 'GET',
    url: '/info?my_name=Thariq',
    data : {},
    success: function(response){
        console.log(response);
    }
})

$.ajax({
    type: 'POST',
    url: '/info',
    data : {
    my_name: 'Thariq'
    },
    success: function(response){
        console.log(response);
    }
}); -->