<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>M Thariq Aziz</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#home">My Portfolio</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#home"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#project">Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->

    <!-- Home/Profile -->
    <section class="text-center" id="home">
      <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
          <img src="Profile.png" alt="" class="rounded-circle" />
          <h1 class="display-5 fw-bold">M Thariq Aziz</h1>
          <div class="container">
            <p>
              Selamat datang di halaman portofolio saya! Saya adalah seorang
              yang sedang berkejaran dengan ilmu komputer. Seiring dengan
              perjalanan belajar saya, saya semakin memahami keajaiban dunia
              teknologi dan perangkat lunak. Dalam portofolio ini, Anda akan
              menemukan proyek-proyek kecil yang mencerminkan perjalanan saya
              dalam memahami bahasa pemrograman, algoritma, dan pemecahan
              masalah komputer. Saya sangat bersemangat untuk terus belajar dan
              mengembangkan keterampilan saya di dunia ilmu komputer, dan saya
              berharap dapat berkontribusi dalam menghadirkan solusi-solusi yang
              inovatif dan berdampak positif di masa depan. Terima kasih telah
              mengunjungi portofolio saya, dan saya berharap Anda akan
              menyaksikan pertumbuhan dan pencapaian saya dalam dunia ini.
            </p>
          </div>
        </div>
      </div>
      <!-- Home/Profile  -->
    </section>

    <!-- About  -->
    <section class="text-center" id="about">
      <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">About Me</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
          <div class="feature col">
            <div
              class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-light bg-gradient fs-2 mb-3"
            >
              <img
                src="computer_icon-icons.com_64697.png"
                alt=""
                width="40px"
                height="50px"
              />
            </div>
            <h3 class="fs-2 text-body-emphasis">Pendidikan</h3>
            <p>
              Mahasiswa semester 5 yang telah menjalani perjalanan pendidikan
              yang penuh dengan pengetahuan dan pengalaman berharga dalam dunia
              teknologi informasi. Sejak awal studi, saya telah mendalami
              berbagai konsep dasar seperti pemrograman, struktur data, dan
              algoritma.Aktif dalam komunitas mahasiswa, menghadiri seminar dan
              workshopHal ini membantu saya untuk terus memperluas wawasan saya
              dalam bidang teknologi informasi, menjalin hubungan dengan teman
              sejurusan, dan mengembangkan keterampilan sosial serta
              kepemimpinan.
            </p>
          </div>
          <div class="feature col">
            <div
              class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-light bg-gradient fs-2 mb-3"
            >
              <img
                src="book-removebg-preview.png"
                alt=""
                width="40px"
                height="50px"
              />
            </div>
            <h3 class="fs-2 text-body-emphasis">Visi dan Misi</h3>
            <p>
              Visi saya sebagai seorang pelajar jurusan Informatika adalah
              menjadi agen perubahan dalam dunia digital yang terus berkembang.
              Saya bermimpi untuk menggabungkan pengetahuan dan keterampilan
              yang saya peroleh selama studi dengan inovasi untuk menciptakan
              solusi teknologi yang bermanfaat bagi masyarakat. Misi saya adalah
              mengembangkan kemampuan dalam pengembangan perangkat lunak,
              kecerdasan buatan, dan keamanan siber untuk memberikan dampak
              positif dan berkelanjutan dalam era digital. berlangsung.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- About End  -->

    <!-- project  -->
    <section class="bg-light text-center" id="project">
      <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">My Project</h2>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
          <div class="col">
            <div
              class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
              style="background-image: url('Amarilis.png')"
            >
              <div
                class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
              >
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="d-flex align-items-center me-3">
                    <svg class="bi me-2" width="1em" height="1em">
                      <use xlink:href="#geo-fill"></use>
                    </svg>
                    <small>Website Toko Bunga Menggunakan Laravel</small>
                  </li>
                  <li class="d-flex align-items-center">
                    <svg class="bi me-2" width="1em" height="1em">
                      <use xlink:href="#calendar3"></use>
                    </svg>
                    <small>2023</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col">
            <div
              class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
              style="background-image: url('download\ \(1\).jpeg')"
            >
              <div
                class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
              >
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"></h3>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="d-flex align-items-center me-3">
                    <svg class="bi me-2" width="1em" height="1em">
                      <use xlink:href="#geo-fill"></use>
                    </svg>
                    <small>Membuat Program Antrian di python</small>
                  </li>
                  <li class="d-flex align-items-center">
                    <svg class="bi me-2" width="1em" height="1em">
                      <use xlink:href="#calendar3"></use>
                    </svg>
                    <small>2023</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col">
            <div
              class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
              style="background-image: url('Tree.png')"
            >
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="d-flex align-items-center me-3">
                    <svg class="bi me-2" width="1em" height="1em">
                      <use xlink:href="#geo-fill"></use>
                    </svg>
                    <small>Clasifikasi Rumah Kalifornia Menggunakan</small>
                  </li>
                  <li class="d-flex align-items-center">
                    <svg class="bi me-2" width="1em" height="1em">
                      <use xlink:href="#calendar3"></use>
                    </svg>
                    <small>2023</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- project End -->

    <!-- Contact -->
    <section class="bg-light" id="contact">
      <div class="container">
        <h2 class="text-center mb-5">Contact Me</h2>
        <div class="row">
          <div class="col-md-8 mx-auto">
            <form>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" />
              </div>
              <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" rows="3"></textarea>
              </div>
              <br />
              <div class="btn-center">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact End -->

    <!-- ======= Footer ======= -->
    <footer>
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a href="#home" class="nav-link px-2 text-body-secondary">Home</a>
        </li>
        <li class="nav-item">
          <a href="#about" class="nav-link px-2 text-body-secondary"
            >About Me</a
          >
        </li>
        <li class="nav-item">
          <a href="#project" class="nav-link px-2 text-body-secondary"
            >Procject</a
          >
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link px-2 text-body-secondary"
            >Contact</a
          >
        </li>
      </ul>
      <p class="text-center text-body-secondary">© 2023 Thariq Aziz, Inc</p>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"
      ></script>
    </footer>
  </body>
</html>
